:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: lightslategrey;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.formlabel {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 0;
  top:71.8px;
}

.dropdown {
top: -10px;
  padding: 6px;
  font-size: 16px;
  border: black;
  cursor: pointer;
  position: absolute;
  top: 78px;
  left: 160px;
  margin: auto;
  width: 80%;

}

.cardContainer {
  display: flex;
  left: 0px;
  /* position: absolute;
  top: 300px; */
  background-color: lightslategray;

}

.border {
  /* margin: auto; */
  width: 100%;
  padding: 10px;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 12px;
  border: 1px solid #ddd;
}

.customers td, #customers th {
  border: 1px solid #ddd;
  padding: 2px;
  
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 0;
  padding-bottom: 2px;
  text-align: center;
  font-size: 14px;
  background-color: #04AA6D;
  color: white;
}

.overall{
  /* background-color: white; */
  border-radius: 6px;
  overflow: hidden;
  background-color: #053742;
  left:auto;

}

.header {
  padding-top:30px;
  height: 60px;
}

.each-slide, .slide-container {
  width: 3000px;
  height: 3000px;
}

.shadow {
  background-color: black;
  color:white;
}

/* Remove browser defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 
/* Style App.js wrapper */
.App {
  width: auto;
  height: auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  padding-top: 10px;
}
 
/* Tab Container */
.Tabs {
  width: auto;
  height: auto;
  /* left: 50%; */
  /* min-height: 40px; */
  background: #053742;
  margin: 4%;
  /* padding: 2px; */
  color: #E8F0F2;
  border-radius: 2rem;
  padding-top: 30px;
}
 
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
 
.react-tabs__tab-list {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
}
 
.react-tabs__tab {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 
.react-tabs__tab--selected {
  background: #39A2DB;
}
 
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
 
.react-tabs__tab:hover {
  background: rgba(50, 224, 196, 0.15);
}
 
.react-tabs__tab:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
 
.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
 
.react-tabs__tab-panel {
  display: none;
}
 
.react-tabs__tab-panel--selected {
  display: block;
  font-size: 1rem;
  text-align: center;
}



